.app__reflective-container {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
}

.app__reflective-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;

  h3 {
    margin-bottom: 1rem;
  }

  p {
    text-align: justify;
    font-size: 1rem;
  }
}

.app__reflective-details {
  ul {
    list-style: disc;
    margin-left: 2rem;
    line-height: 1.8;

    li {
      margin-bottom: 0.5rem;
      text-align: justify;
    }
  }

  @media screen and (max-width: 768px) {
    ul {
      margin-left: 1rem;
      font-size: 0.9rem;
    }
  }
}
