.app__about {
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.app__about-context {
  width: 100%;
  flex: 1;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  padding: 1rem;

  @media screen and (max-width: 1000px) {
    width: 80%;
    flex-direction: column;
  }
}

.app__about-img {
  div {
    background: linear-gradient(rgba($color: #6b7688, $alpha: 0.35), #fff);
    width: 300px;
    height: 350px;
    border-radius: 50%;
    position: relative;
    img {
      position: absolute;
      bottom: 1.2rem;
      max-width: 100%;
      max-height: 100%;
      box-sizing: border-box;
      object-fit: cover;
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 768px) {
    width: 80%;
  }

  @media screen and (max-width: 300px) {
    div {
      width: 150px;
      height: 150px;
    }
  }
}

.app__about-data {
  width: 100%;
  margin: 2rem;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  p {
    text-align: justify;
    font-size: 1rem;
    font-family: var(--font-base);
    span {
      font-weight: 800;
      color: var(--secondary-color);
    }
  }

  @media screen and (max-width: 1000px) {
    div:nth-child(3) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.app__profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.app__profile-item {
  width: 190px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;

  img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }
}

.app__about-roles-section {
  margin-top: 4rem;
  .head-text {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.app__about-roles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 3rem;
}

.app__about-role-item {
  max-width: 300px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .app__about-role-text {
    h3 {
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}
